on:
  push:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push ws-backend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: dockerfile/dockerfile.wsbackend
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/excalidraw-ws-backend:prod

      - name: Deploy to Production Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_SERVER_HOST }}
          username: ${{ secrets.PROD_SERVER_USERNAME }}
          key: ${{ secrets.PROD_SERVER_SSH_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/excalidraw-ws-backend:prod 
            sudo docker stop excalidraw-ws-backend || true
            sudo docker rm excalidraw-ws-backend || true
            sudo docker run -d -p 3002:3002 --name excalidraw-ws-backend \
            -e JWT_SECRET="${{secrets.JWT_SECRET}}" -e DATABASE_URL="${{secrets.DATABASE_URL}}"  \
            ${{ secrets.DOCKER_HUB_USERNAME }}/excalidraw-ws-backend:prod
    